# read src/env.ts if you need more info

# required
TOKEN=XXX
DISCORD_ID=XXX

# optional ('' means false)
CHECK_LASTFM_WHEN_ONLINE= # empty = false
LASTFM_USER="XXX"
LASTFM_KEY="XXX"
DEFAULT_STATUS_TEXT="hiii"
DEFAULT_STATUS_EMOJI="🐬"
MUSIC_TEXT="{{artist}} - {{song}}"
MUSIC_EMOJI="🎧"
CODING_TEXT="Coding!"
CODING_EMOJI="💻"
PLAYING_TEXT="{{action}} {{name}}"
PLAYING_EMOJI="🎮"
SHOW_MUSIC_TIME=true
SHOW_ACTIVITY_TIME=true
ONLINE_STATUS="online" # online, idle, dnd, invisible
ACTIVITY_STATUS="online" # online, idle, dnd, invisible
MUSIC_STATUS="online" # online, idle, dnd, invisible
OFFLINE_MUSIC_STATUS="idle" # online, idle, dnd, invisible
OFFLINE_ACTIVITY_STATUS="invisible" # online, idle, dnd, invisible
TIMER_UPDATE_INTERVAL_SECONDS=30
